body {
    margin: 0px;
}

.upper {
    background-color: #1F2937;
    color:#F9FAF8;
    padding: 0 300px 20px 300px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding-block: 20px;
    font-size: 24px;
}

.links {
    margin-left: auto;
    gap: 16px;
}

.links a {
    font-size: 16px;
    color: #F9FAF8;
}

links:hover {
    color:#d2d3d1;
}

.logo {
    width: 75px;
    height: 75px;
    border-radius: 5px;
}

.body {
    display: flex; 
    font-size: 18px;
    flex-basis: 100%;
    justify-content: space-around;
}

.main {
    font-size: 48px;
    font-weight: bolder;
    margin-block: 16px
}

.secondary{
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border: 0;
    color:#F9FAF8;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #5190f5;
}

.right {
    flex-basis:100%;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.left {
    margin-right: 48px;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.right img {
    width:400px;
    height:275px;
    border-radius: 2%;
}

#sign-up {
    width: 90px;
    height: 25px;
}

.lower-body {
    flex-grow:1;
}

.information-header {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
}

.information-images {
    padding-inline: 300px;
    display:flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.information-images img {
    width: 200px;
    height: 200px;
    border-radius: 4%;
}

.information-text {
    display: flex;
    justify-content: center;
    color: #1F2937;
    width: 200px;
    text-align: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #E5E7EB;
    font-size: 37px;
    font-style: italic;
}

.quote {
    display: flex;
    padding-inline: 560px;
    margin-bottom: 0px;
}

.author {
    display: flex;
    justify-content: flex-end;
    padding-inline: 550px;
    font-size: 24px;
    font-style: normal;
    font-weight: bolder;
    margin: 0px 30px 0px 0px;
    padding-bottom: 20px;
}

.signup-container {
    display:flex;
    justify-content: space-around;
    margin: 60px 300px 60px 300px;
    padding-block: 20px;
    background-color: #3882F6;
    border-radius: 10px;
}

.signup-text {
    color:#F9FAF8;
    margin: 0;
}

.signup-button {
    margin-block: auto;
    border: 2px solid #F9FAF8;
    width: 10%;
}

#signup-header-text {
    font-size: 24px;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
}

